<head>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" >
    <!-- jquery only -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- js only -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <title>이상형월드컵</title>
    <meta charset="utf-8">
<style>
    body{
        font-family: 'Gowun Dodum', sans-serif;
    }
    .modal{
        font-weight: bold;
    }
    .btn{
        font-weight: bold;
        color:black;
    }
    .form-control{
        font-size:1.1rem;
        font-weight: bold;
        color:black;
    }
</style>
</head>
<body style="background-color:black;">

  <font size=500>
      <marquee  scrollamount="70">●</marquee>
    <marquee width="200" scrollamount="47">
        <font color="hotpink">●</font>
    </marquee>
    <marquee  scrollamount="48">
        <font color="green">●</font>
    </marquee>
</br>
<marquee  scrollamount="45">
    <font color="blue">●</font>
</marquee>
<marquee  scrollamount="57">
    <font color="hotblue">●</font>
</marquee>
<marquee  scrollamount="60">
    <font color="red">●</font>
</marquee>
<marquee  scrollamount="68">
    <font color="purple">●</font>
</marquee>
</br>
<marquee  scrollamount="47">
<font color="pink">●</font>
</marquee>
<marquee  scrollamount="52">
<font color="violet">●</font>
</marquee>
<marquee  scrollamount="58">
<font color="orange">●</font>
</marquee>
<marquee  scrollamount="70">●</marquee>
<marquee width="200" scrollamount="47">
    <font color="hotpink">●</font>
</marquee>
<marquee  scrollamount="48">
    <font color="green">●</font>
</marquee>
</br>
<marquee  scrollamount="45">
<font color="blue">●</font>
</marquee>
<marquee  scrollamount="57">
<font color="hotblue">●</font>
</marquee>
<marquee  scrollamount="60">
<font color="red">●</font>
</marquee>
<marquee  scrollamount="68">
<font color="purple">●</font>
</marquee>
</br>
<marquee  scrollamount="47">
<font color="pink">●</font>
</marquee>
<marquee  scrollamount="52">
<font color="violet">●</font>
</marquee>
<marquee  scrollamount="58">
<font color="orange">●</font>
</marquee>      <marquee  scrollamount="70">●</marquee>
<marquee width="200" scrollamount="47">
    <font color="hotpink">●</font>
</marquee>
<marquee  scrollamount="48">
    <font color="green">●</font>
</marquee>
</br>
<marquee  scrollamount="45">
<font color="blue">●</font>
</marquee>
<marquee  scrollamount="57">
<font color="hotblue">●</font>
</marquee>
<marquee  scrollamount="60">
<font color="red">●</font>
</marquee>
<marquee  scrollamount="68">
<font color="purple">●</font>
</marquee>
</br>
<marquee  scrollamount="47">
<font color="pink">●</font>
</marquee>
<marquee  scrollamount="52">
<font color="violet">●</font>
</marquee>
<marquee  scrollamount="58">
<font color="orange">●</font>
</marquee>      <marquee  scrollamount="70">●</marquee>
<marquee width="200" scrollamount="47">
    <font color="hotpink">●</font>
</marquee>
<marquee  scrollamount="48">
    <font color="green">●</font>
</marquee>
</br>
<marquee  scrollamount="45">
<font color="blue">●</font>
</marquee>
<marquee  scrollamount="57">
<font color="hotblue">●</font>
</marquee>
<marquee  scrollamount="60">
<font color="red">●</font>
</marquee>
<marquee  scrollamount="68">
<font color="purple">●</font>
</marquee>
</br>
<marquee  scrollamount="47">
<font color="pink">●</font>
</marquee>
<marquee  scrollamount="52">
<font color="violet">●</font>
</marquee>
<marquee  scrollamount="58">
<font color="orange">●</font>
</marquee>      <marquee  scrollamount="70">●</marquee>
<marquee width="200" scrollamount="47">
    <font color="hotpink">●</font>
</marquee>
<marquee  scrollamount="48">
    <font color="green">●</font>
</marquee>
</br>
<marquee  scrollamount="45">
<font color="blue">●</font>
</marquee>
<marquee  scrollamount="57">
<font color="hotblue">●</font>
</marquee>
<marquee  scrollamount="60">
<font color="red">●</font>
</marquee>
<marquee  scrollamount="68">
<font color="purple">●</font>
</marquee>
</br>
<marquee  scrollamount="47">
<font color="pink">●</font>
</marquee>
<marquee  scrollamount="52">
<font color="violet">●</font>
</marquee>
<marquee  scrollamount="58">
<font color="orange">●</font>
</marquee>      <marquee  scrollamount="70">●</marquee>
<marquee width="200" scrollamount="47">
    <font color="hotpink">●</font>
</marquee>
<marquee  scrollamount="48">
    <font color="green">●</font>
</marquee>
</br>
<marquee  scrollamount="45">
<font color="blue">●</font>
</marquee>
<marquee  scrollamount="57">
<font color="hotblue">●</font>
</marquee>
<marquee  scrollamount="60">
<font color="red">●</font>
</marquee>
<marquee  scrollamount="68">
<font color="purple">●</font>
</marquee>
</br>
<marquee  scrollamount="47">
<font color="pink">●</font>
</marquee>
<marquee  scrollamount="52">
<font color="violet">●</font>
</marquee>
<marquee  scrollamount="58">
<font color="orange">●</font>
</marquee>

</font>

<div class="modal fade" id="exampleModal" role='dialog'>
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header bg-info">
          <h2 class="modal-title px-4" style="font-weight:bold" id="exampleModalLabel">{{selected_theme}}</h2>
          <button type="button" class="btn-close px-3" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>     
        <form role="form" >   
            <div class="modal-body">
                <div class="row mx-3 my-2">
                    <div class="col-sm-12">
                    <label style="font-size:1.2rem">총 라운드를 선택하세요.</label>
                    <select class="form-control mt-3 p-2" id="selRound" name="256" data-op="open" data-u="testpage">
                        <option value="4" selected="">4강</option>
                        <option value="8">8강</option><option value="16">16강</option>
                        <option value="32">32강</option>
                    </select>
                    </div>
                </div>
            </div>
        <div class="modal-footer pt-3 px-5 mx-0">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
          <button type="button" id="rstart" class="btn btn-info" data-bs-dismiss="modal" >진행하기</button>
        </div>
        <form >   
      </div>
    </div>
</div>




<div id="bring_theme" >{{selected_theme}}</div>
</body>

<script language="javascript" type="text/javascript">

    $(window).on('load', function () {        
        $('#exampleModal').modal('show');       
    });

    $('#rstart').click(function() {
        var round = $("#selRound").val();
        var theme = $("#bring_theme").text();        
        window.location.href = "/play/"+theme+"/"+round;
        //window.location.href = $('#selRound').attr('data-u');
	});

    temp = location.href.split("?");
    data=temp[1].split("@");
    console.log("data"+decodeURI(data[0]))
    
    winner_name = decodeURI(data[0]);
    winner_src = data[1];
    
    document.getElementById('name').innerHTML=winner_name;
    document.getElementById('url').src=winner_src;
    


</script>